.info-Reglamentacion-container {
    display: grid;
    gap: 10px;
  }
  
  .fact-table {
    display: grid;
    gap: 10px;
  }
  
  .fact-row {
    display: grid;
    gap: 5px;
  }
  
  .fact-row h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .fact-row p {
    font-size: 14px;
  }
  
  .fact-row hr {
    border: none;
    border-top: 1px solid #ccc;
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}